/* Global styles */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Light background color */
}

.app-container {
  text-align: center;
  width: 100%;
}

/* Login page styling */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px; /* Optional padding around the form */
}

.login-box {
  background-color: transparent;  /* Make the background transparent */
  padding: 20px;  /* Reduced padding for a more minimal look */
  border-radius: 10px;
  box-shadow: none;  /* Remove shadow */
  width: 100%;
  max-width: 350px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-box input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.login-box input[type="submit"]:hover {
  background-color: #45a049;
}

.forgot-password {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  color: #007bff;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.new-user-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.new-user-button:hover {
  background-color: #0056b3;
}

.read-the-docs {
  color: #888;
}
